<aside id='footer-widget-wrapper'>
<div id='footer-widget'>
<div class='footer-widget-1 section' id='footer-widget-1'><div class='widget Label' data-version='2' id='Label1'>
<div class='normalwidget-title'>
<h2 class='title'>Metode Pembayaran</h2>
</div>
<div class='widget-content list-label-widget-content'>
<div class="third-service"> <div class="shopee"></div> <div class="qris"></div> <div class="ovo"></div> <div class="bca"></div> <div class="mandiri"></div> <div class="bri"></div> <div class="permatabank"></div> <div class="bni"></div> <div class="mybank"></div> <div class="cimb"></div> <div class="mastercard"></div> <div class="visa"></div> <div class="atmbersama"></div> <div class="alfamart"></div> <div class="pegadaian"></div><div class="kantorpos"></div>
</div>
</div>
</div><div class='widget PageList' data-version='2' id='PageList1'>
<div class='normalwidget-title'>
<h2 class='title'>Halaman</h2>
</div>
<div class='widget-content'>
<ul>{% include navigasi-footer.html %}</ul>
</div>
</div></div>
<div class='footer-widget-2 section' id='footer-widget-2'>{% include profil.html %}
  <div class='widget PopularPosts' data-version='2' id='PopularPosts1'>
<h2 class='title'>Populer</h2>
<div class='widget-content'>{% assign pp = site.posts | reverse %}
{% for post in pp limit:3 %}
<div class='popular-post'>
<div class='popular-post-thumbnail'>
<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title }}">
<img alt='{{ post.title }}' class='lazyload' data-src='{{ post.image }}' height='100' src='data:,' width='100'/>
<div class='lazy-loading'></div>
</a>
</div>
<div class='popular-post-info'>
<div class='popular-post-title'>
<a href='{{ post.url | prepend: site.baseurl | prepend: site.url }}' title="{{ post.title }}">
{{ post.title }}
</a>
</div>
<div class='popular-post-snippet'>
<div class="harga-produk">Rp{{ post.harga | replace: "Rp","" }}</div>
<div class="Rate" data-id="{{ post.permalink }}"></div>
</div>
<div class='js-popular-post-snippet'></div>
</div>
</div>
{% endfor %}
</div>
</div></div>
</div>
</aside>
<footer id='footer-wrapper'>
<div class='socialicon-widget-container section' id='socialicon-widget-container'><div class='widget HTML' data-version='2' id='HTML637'>
<div class='socialicon-widget'>
  <a aria-label="facebook-icon" href="https://facebook.com/sabdaliterasipalu"><span class="social-icon facebook-icon"><i></i></span></a>
  <a aria-label="whatsapp-icon" href="https://wa.me/6285186666836"><span class="social-icon whatsapp-icon"><i></i></span></a>
  <a aria-label="instagram-icon" href="https://instagram.com/sabdaliterasipalu"><span class="social-icon instagram-icon"><i></i></span></a>
  <a aria-label="tiktok-icon" href="https://www.tiktok.com/@sabdaliterasipalu"><span class="social-icon tiktok-icon"><i></i></span></a>
  <a aria-label="icon-mail" href="mailto:sabdaliterasipalu@gmail.com"><span class="social-icon icon-mail"><i></i></span></a>
</div>
</div></div>
<div class='footer-content section' id='footer-content'><div class='widget HTML' data-version='2' id='HTML80'>
<div class='footer-text'>

                    &#169; 2023 - <a href='{{ site.url }}/'>{{ site.title }}</a>
</div>
</div></div>
<button aria-label='scrolltop' class='scrollToTopBtn'></button>
</footer>
<script id="dsq-count-scr" src="//sabda-literasi-palu.disqus.com/count.js" async></script>