<link rel="preload" href="{{ site.url }}/assets/css/page-skin-1.css?m=6" as="style">
<link rel="preload" href="{{ site.url }}/assets/css/fontawesome/v6.5.1/all.min.css" as="style">
<link rel="preload" href="{{ site.url }}/assets/js/javascript-in-head.js" as="script">
<link rel="preload" href="{{ site.url }}/assets/js/jquery-3.7.1.min.js" as="script">
<link rel='dns-prefetch' href='//sabdaliterasi.xyz' />
<link rel='dns-prefetch' href='//i0.wp.com' />
<link rel='dns-prefetch' href='//fonts.gstatic.com' />
<link rel='dns-prefetch' href='//pro.fontawesome.com' />
<link rel='dns-prefetch' href='//pagead2.googlesyndication.com' />
<link rel='dns-prefetch' href='//s3.us-west-1.wasabisys.com' />
<link id='page-skin-1' href="{{ site.url }}/assets/css/page-skin-1.css?m=6" rel="stylesheet" />
<link id='fontawesome' href="{{ site.url }}/assets/css/fontawesome/v6.5.1/all.min.css" rel="stylesheet" />
<script src="{{ site.url }}/assets/js/javascript-in-head.js"></script>
<script src="{{ site.url }}/assets/js/jquery-3.7.1.min.js"></script>
<script src="{{ site.url }}/assets/js/firebase-2-4-2.min.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7167027688009938" crossorigin="anonymous"></script>
