<aside id='testimonial-container'><div class='testimonial-title'><h2>Testimoni</h2></div><div id='testimonial-widget-container'><div class='testimonial-widget section' id='testimonial-widget'>{% for test in site.testimoni %}
<div class='widget HTML testimonial-item' data-version='2' id='HTML{{ 322 | forloop.index | plus: 0 }}'>
<div class='widget-content'>
{{ test }}
</div>
</div>{% endfor %}
</div></div></aside><script> (function() { var noTesti = document.querySelector(".testimonial-widget.no-items"); if (noTesti) { document.querySelector("#testimonial-container").style.display = "none"; } })(); </script>
