<!--[ Show only one grid column in Mobile ]-->
<!--[ Enable tag below to change Mobile Menu style, try 'MN-2', 'MN-3' or 'MN-4' ]-->
<!--[ Enable tag below to change Header style (Only Mobile) ]-->
<!--<b:class name='HD-2'/>-->
<!--[ Enable tag below to make some Elements floating ]-->
<!--[ Enable tag below to minimize Navigation Menu in desktop ]-->
<!--[ Change basic layout style in desktop, try 'LS-2' or 'LS-3' ]-->
<!--<b:class name='LS-2'/>-->
<!--[ Active function ]-->
<input class='prfI hidden' id='offPrf' type='checkbox'/>
<input class='navI hidden' id='offNav' type='checkbox'/>
<input class='navM hidden' id='onMode' type='checkbox'/>
<!--[ Preloader ]-->
<!--[ Disable all the codes to remove preloader ]-->
<div class='pldW e' id='preloader'><div class='pldS'></div></div> 
<script>/*<![CDATA[*/ 
function loadhalaman(){
var preloader=document.querySelector('#preloader'); 
document.addEventListener('DOMContentLoaded', function(){setTimeout(function(){preloader.classList.add('h')},2000); neonLight(5000);});
}
/*]]>*/</script>
<!--[ Toast Notif ]-->
<div class='tNtf alt notranslate' id='toastNotif'></div>
<!--[ Fixed Notif ]-->
<div id='fixedNotif'></div>
<!--[ Neon Lighting ]-->
<div class='nLght' id='neonLight'></div>
{% include UI-license.html %}
<div class='mntnM'>
<!--[ Maintenance Mode ]-->
<div class='no-items section' id='maintenance-mode'>
</div>
</div>
