 <!--<div class="widget HTML" data-version="2" id="HTML10">
After POST ADS 
<ins class="adsbygoogle"
     style="display:inline-block;width:720px;height:90px"
     data-ad-client="ca-pub-7167027688009938"
     data-ad-slot="1748261019"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>-->
<nav class='navS scrlH'>
<div class='secIn'>
<ul>
{% for tag in site.tags %}  
<li {% if page.tag == tag[0] or page.title == tag[0] %}style="font-weight:600"{% endif %}>
<a aria-label='{{ tag[0] }}' class='l' data-text='{{ tag[0] }}' href='{{ "/category/" | prepend: site.url | append: tag[0] | downcase }}/'>
</a>
</li>
{% endfor %}
</ul>
</div>
</nav>
