<div class='popup-box-wrapper pb-wrapper'>
<div class='popup-box-content pb-content'>
<div class='content pb-main'>
<h2>LAYANAN KERJA TUGAS</h2>
<div style="text-align:center;margin-bottom:5px;"><a title="Layanan Kerja Tugas" href="https://sabdaliterasi.shop/media/pamflet-kerja-tugas.jpg"><img alt="Layanan Kerja Tugas" src="https://sabdaliterasi.shop/media/pamflet-kerja-tugas.jpg" width="300" height="300" loading="lazy"></a></div>
<br>
<button onclick="pesan()" class="btn-whatsapp" name='Buy'>Pesan Sekarang</button>
</div>
<button aria-label='close-popup' class='close-popup'></button>
<div class='disable-popupbox'>
<input id='disable-popupbox' name='disable-popupbox' type='checkbox'/><label for='disable-popupbox'>Jangan tampilkan selama
<span class='popupbox-expiry-after'></span>
hari</label>
</div>
</div>
</div>
