---
layout: null
---
<!DOCTYPE html>
<html lang="id-ID">
{% include headpost-halaman.html %}
<body class='is-post'>
<div class='template-settings section' id='template-settings'><div class='widget HTML' data-version='2' id='HTML70'>
{% include setting.html %}</div></div><script>!function(e){var o={darkMode:!0,autoDarkMode:!0};themeOption(o);let t=e.body;if(!o.darkMode)return t.classList.add("no-darkmode"),console.log("NTULL");var e=!!o.autoDarkMode&&window.matchMedia("(prefers-color-scheme: dark)").matches,o="darkmode"===localStorage.getItem("stylemode"),a="lightmode"===localStorage.getItem("stylemode");!e&&!o||a?(localStorage.setItem("stylemode","lightmode"),t.classList.remove("dark")):(localStorage.setItem("stylemode","darkmode"),t.classList.add("dark"))}(document);</script>
<div class='custom-css section' id='custom-css'><div class='widget HTML' data-version='2' id='HTML82'>
</div></div>
<div id='wrapper'>
<header id='header-wrapper'>
<div class='header'>
<button aria-label='menu' class='navmenu-button'>
<span></span>
<span></span>
<span></span>
</button>
<div class='header-title section' id='header-title'><div class='widget Header' data-version='2' id='Header1'>
<a href='{{ site.url }}/' title='{{ site.title }}'>
<img loading="lazy" alt='{{ site.title }}' height='110' src='{{ site.url }}/media/logo-banner.png' title='{{ site.title }}' width='579' />
</a>
<div class='site-title-wrap hide-title'>
<h2 class='site-title'>
<a data-text='{{ site.title }}' href='{{ site.url }}/' title='{{ site.title }}'>{{ site.title }}</a>
</h2>
</div>
</div></div>
<div class='navmenu-desktop section' id='navmenu-desktop'><div class='widget HTML' data-version='2' id='HTML642'>
<nav>
<ul>
  
  {% include navigasi.html %}
  
  </ul>
</nav>
</div></div>
<nav class='navmenu-mobile'>
<div class='navmenu-list'>
</div>
</nav>
<div class='navmenu-overlay'></div>
<div class='nav-right'>
<div id='darkmode-button'>
<input aria-label='darkmode' class='darkmode' id='darkmode' name='darkmode' type='checkbox'/><label for='darkmode' title='darkmode'></label>
</div>
<label class='search-button' for='search-terms'>
</label>
</div>
<div class='searchcontainer'>
<form action='{{ site.url }}/result/' id='search'>
<input name="cx" type="hidden" value="c7367564f98394c59" />
<input name="ie" type="hidden" value="UTF-8" />
<input name="cof" type="hidden" value="FORID:10" />
<input onkeyup="Cari()" aria-label='Cari' autocomplete='off' id='search-terms' name='q' placeholder='Cari...' type='text' value=''/>
</form>
</div>
</div>
</header>
<main id='main'>
<div id='banner-container'>
</div>
<div id='recent-container'>
</div>
<div class='main-content section' id='main-content'><div class='widget Blog' data-version='2' id='Blog1'>
<script type='application/ld+json'>
        {
            "@context":"http://schema.org",
            "@type":"WebPage",
            "name":"{% if page.title %}{{ page.title }} |{% endif %} Ebook Shop | {{ site.title }}",
            "url":"{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}"
        }
        </script>
<div class='post-container post-single post-single-artikel'>
<div class='breadcrumbs-post'>
<div class='breadcrumbs'  >
<span>
<a href='{{ site.url }}/' title='Home'>
<span>
Beranda
</span>
</a>
</span>
<span class='arrow'>&#8250;</span>
<span>
<a href='{{ site.url }}/artikel' rel='nofollow' title='Artikel'>
<span>
Artikel
</span>
</a>
</span>
<span class='arrow'>&#8250;</span>
<span>
<a href='{{ site.url }}{% if page.url %}{{ page.url | relative_url }}{% endif %}#{{ page.tag }}' rel='nofollow' title='{% if page.tag %}{{ page.tag }}{% endif %}'>
<span>
{% if page.tag %}{{ page.tag }}{% endif %}
</span>
</a>
</span>
</div>
</div>
<div class='post-message-container'>
</div>
<article class='post-outer'>
<div class='post' itemscope='itemscope'>
<div class='post-title' style="border-bottom: 1px solid rgb(153 153 153 / 50%); margin-bottom: 2rem;">
<h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
<p class="description">{% if page.description %}{{ page.description }}{% endif %}</p>
<div class='thumbnail' style="position:relative;overflow:hidden;">
<img style="height:607;border-radius:15px;width:100%" class='lazyload' alt='{% if page.title %}{{ page.title }}{% endif %}' height='607' data-src='{% if page.image %}{{ page.image }}{% endif %}?resize=1080%2C607&ssl=1' title='{% if page.title %}{{ page.title }}{% endif %}' width='1080' src='data:,'/>
<div class='lazy-loading'></div>
</div>
</div>
<div class='post-body'>
{{ content }}
<hr/>
<p id="Keywords">
TAGS: {% for key in page.keyword %}<strong class="Keywords"> {{ key }} </strong>{% endfor %}
<p> 
</div>
<div id='after-content'>
<div class='share-buttons'>
<script>
            var sharePostUrl = "{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}";
            var sharePostTitle = "{% if page.title %}{{ page.title }}{% endif %}";
            </script>
<button aria-label='Berbagi' class='share-btn'>
<span>Berbagi</span></button>
<div class='share-links'>
<div class='links'>
</div>
</div>
</div>
<aside id="ratingbook" style="display:none"><div class="testimonial-title">
<h2>Total Penilaian Ebook {% if page.title %}{{ page.title }}{% endif %}</h2></div>
<div class="stars"><i class="fa fa-star active"></i></div>
<div id="Rating"></div> 
</aside>
<div id="ms-related-post">
  <div class="ms-related-title"><p>Artikel Terkait</p></div>
<div class="produk-showcase">
<div class="produk-box">{% for post in site.artikel %}{% if post.tag == page.tag %}
<div class="produk"><div class="img-product"><a href="{{ post.url }}"  target="_blank" title="{{ post.title }}"><img class="lazyload" src="data:," alt="{{ post.title }}" height="800" data-src="{{ post.image }}?resize=300%2C300&ssl=1" title="{{ post.title }}" width="800"><div class="lazy-loading"></div></a></div><div class="desk-produk"><a href="{{ post.url }}"  target="_blank" title="{{ post.title }}"><span>{{ post.title }}</span></a><a href="{{ post.url }}"  target="_blank" title="{{ post.title }}"><div class="harga-produk"></div></a><a class="link-produk btn-link" href="{{ post.url }}"  target="_blank" title="{{ post.title }}">Read</a></div></div>
{% endif %}{% endfor %}</div>
</div>    
    <div class="ms-related-title"><p>Produk Kami</p></div>
<div class="produk-showcase">
  <div class="produk-box" id="EbookSI">
    {% for post in site.posts %}
    <div class="produk"><div class="img-product"><a href="{{ post.url }}"  target="_blank" title="{{ post.title }}"><img class="lazyload" src="data:," alt="{{ post.title }}" height="800" data-src="{{ post.image }}" title="{{ post.title }}" width="800"><div class="lazy-loading"></div></a></div><div class="desk-produk"><a href="{{ post.url }}"  target="_blank" title="{{ post.title }}"><span>{{ post.title }}</span></a><a href="{{ post.url }}"  target="_blank" title="{{ post.title }}"><div class="harga-produk">Rp{{ post.harga | replace: "Rp","" }}</div></a><a class="link-produk btn-link" href="{{ post.url }}"  target="_blank" title="{{ post.title }}">Lihat</a><div class="Rate" data-id="{{ post.url }}"></div></div></div>
    {% endfor %}
 </div>
</div>
</div><script> var postLabels = ["Sepatu", ]; var relatedConfig = { relatedOuter: "ms-related-post", postUrl: "{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}", homePageUrl: "{{ site.url }}/", relatedTitleText:  "Produk Terkait", }; </script>
{% include testimoni.html %}
</div>
<div id='after-content-hidden'>
<div class='call-to-action2-wrap'>
</div>
<div class='pb-wrapper' id='cc-wrapper'>
<div class='pb-content' id='cc-content'>
<div class='pb-main' id='cc-main'>
<h2 class='cc-title'>ORDER VIA CHAT</h2>
<div class='cc-detail-produk'>
<p class='cc-nama-produk'>Produk : <strong>{% if page.title %}{{ page.title }}{% endif %}</strong></p>
<p class='cc-harga-produk'>Harga : <strong></strong><span></span></p>
<p class='cc-url-produk'>{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}</p>
</div>
<div class='cc-input'>
<div class='cc-input-jmlhproduk'></div>
<div class='cc-input-kontak'></div>
<div class='cc-input-alamat'></div>
</div>
<div class='input-has-error'></div>
<a class='cc-chat-wa-link' href='#'><b id='cc-chatwa'></b></a>
</div>
</div>
</div>
<div class='pb-wrapper' id='cm-wrapper'>
<div class='pb-content' id='cm-content'>
<div class='pb-main' id='cm-main'>
<h2 class='cm-title'>ORDER VIA MARKETPLACE</h2>
<div class='cm-links'>
</div>
</div>
</div>
</div>
</div>
<section class='comments comments-threaded' data-embed='true' data-num-comments='2' id='commentsdis'>
<h2 class='comments-title'>
<span>Diskusi</span>
</h2>
<div class='comments-content'>
<div id='comment-main'>
<div class="comment-thread toplevel-thread">
</div>
</div>
<div class='comment-footer'>
<div class='comment-form default-comment-form'>
<p class='comment-note'>
Silakan berdikusi
</p>
</div>
</div>
</div>

  
  
  </section>
</div>
</article>
</div>
</div></div>
</main>
{% include footer-wrapper.html %}
</div>
{% include popup.html %}	
<script>{% include scriptbawapost.html %}</script>
<script src="{{ site.url }}/assets/js/kutoko.js"></script><div class='custom-javascript-footer section' id='custom-javascript-footer'><div class='widget HTML' data-version='2' id='HTML782'>
</div></div>
<!--<div id="sitemap5" class="result hidden"><p id="judul" class="judul"></p><div class="ajax-search" id="ajax-search"><div>
<ol class="ajax-search-results badan" id="badan">{% for post in site.posts limit:9999 %}<li data-search-term="{{ post.title }} {{ post.author }} {{ post.description }}" class="list-produk serrcok hidden"><p class="ajax-search-image loading"><img class="lazyload" data-src="{{ post.image }}" alt="{{ post.title }}" style="display:block;width:60px;height:60px;" src='data:,'></p><h4 class="ajax-search-title"><a alt="{{ post.title }}" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h4></li>{% endfor %}</ol></div></div></div>
-->
<!-- Google Tag Manager (noscript) -->
{% if site.gtag %}<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtag }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% endif %}<!-- End Google Tag Manager (noscript) -->
 </body>
</html>
